html, body
{
	background: -moz-linear-gradient(left,  	#ff3300,  	#ff9900);
	text-align: center;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#container
{
	min-height: 100%;
	position: relative;
}

#footer
{
	position: absolute;
	bottom: 0;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

#startButton
{
	margin-top: 40px;
	margin-bottom: 20px;
	display: inline-block;
	color: green;
	border: 3px solid ;
	min-width: 450px;
	min-height: 100px; 
	font-size: 40px;
}

#mainContent
{
	padding: 30px;
	background-color: orange;
	min-height: 650px;
	width: 45%;
	margin: auto;
	border: 4px solid;
}

.rectangle
{
	width: 50px;
	height: 200px;
}

.square
{
	width: 50px;
	height: 50px;
}